<!DOCTYPE html>
<html>

<head>
    <title>Search | LEASE. - Find The Best Lease.</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <table class="userMenu">
            <tr>
                <td>
                    <div class="logo">
                        <!--<img src="https://drive.google.com/file/d/11OWsc5qAV_7rWone-FXVZkNLq4WhIJdZ/view?usp=sharing" alt="logo" width="100px">-->
                        <img src="{{logo}}" alt="logo" width="100px">
                        <!--<img src="logo.jpg" alt="logo" width="100px">-->
                        <!--<image href="{{ url_for('static', filename='logo.jpg') }}" width="100px">-->
                    </div>
                </td>
                <td>
                    <a href="/home">
                        <div>Home</div>
                    </a>
                </td>

                <td>
                    <a href="/adsSearch" onclick="window.location='/adsSearch'">
                        <div>Search</div>
                    </a>
                </td>

                <td>
                    <a href="/adsPosting" onclick="window.location='/adsPosting'">
                        <div name="postingAds">Post</div>
                    </a>
                </td>
            </tr>
        </table>
    </header>

    <div class="userloggeding">
        {{msg}}
        {{user}}
        {{msg1}}
    </div>

    <h1>Tell us your preference!</h1>

    <form id="adsSearchinputForm" method="POST">
        <!--TODO Validation-->

        <table class="adsSearchForm">
            <tr>
                <td>
                    <div>Provinces & Territories</div>
                    <select name="inputProvinces" id="inputProvinces">
                        <option disabled selected>Select a province</option>
                        <option value="AB">Alberta</option>
                        <option value="BC">British Columbia</option>
                        <option value="MB">Manitoba</option>
                        <option value="NB">New Brunswick</option>
                        <option value="NL">Newfoundland and Labrador</option>
                        <option value="NS">Nova Scotia</option>
                        <option value="ON">Ontario</option>
                        <option value="PE">Prince Edward Island</option>
                        <option value="QC">Quebec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="NT">Northwest Territories</option>
                        <option value="NU">Nunavut</option>
                        <option value="YT">Yukon</option>
                    </select>
                    <!--Provinces & Territories-->
                </td>
            </tr>

            <tr>
                <td>
                    <div>City</div>
                    <select name="inputCity" id="choices">
                        <option disabled selected>Select a city</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <div>Size</div>
                    <select id="inputSize" name="inputSize">
                        <option disabled selected>Select the size</option>
                        <option>1.5</option>
                        <option>2.5</option>
                        <option>3.5</option>
                        <option>4.5</option>
                        <option>5.5</option>
                        <option>House</option>
                        <option>Townhouse</option>
                        <option>Others</option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <td>
                    <div class="">Facilities</div>
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox" id="" name="Gym" value="Gym">
                                <label for="Gym">Gym</label>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox" id="" name="SwimmingPool" value="SwimmingPool">
                                <label for="SwimmingPool">Swimming Pool</label>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox" id="" name="Lounge" value="Lounge">
                                <label for="Lounge">Lounge</label>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox" id="" name="inHouseLaundry" value="inHouseLaundry">
                                <label for="inHouseLaundry">In-House Laundry</label>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox" id="" name="inBuildingLaundry" value="inBuildingLaundry">
                                <label for="inBuildingLaundry">In-Building Laundry</label>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="checkbox" id="" name="airConditioner" value="airConditioner">
                                <label for="airConditioner">Air-Conditioner</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" name="submit" value="Search">
                </td>
            </tr>

        </table>
    </form>

</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='adsPosting.js') }}"> </script>