<!DOCTYPE html>
<html>
<head>
	<head>
		<title>Ads | LEASE. - Find The Best Lease.</title>
		<!--<link rel="stylesheet" type="text/css" href="css/style.css"> -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
</head>
<body>

    <div class="logo">
        <img src="{{logo}}" alt="logo" width="100px">
    </div>

    <div>
        You have already posted 2 ads on the platform. Please wait until someone take your lease.
    </div>

    <div>
        Click <a href="/home">Home</a> to go back.
    </div>

</body>
</html>