<!DOCTYPE html>
<html>

<head>
    <title>Home (Not logged in yet) | LEASE. - Find The Best Lease.</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="header">
        <table class="userMenu">
            <tr>
                <td>
                    <div class="logo">
                        <!--<img src="https://drive.google.com/file/d/11OWsc5qAV_7rWone-FXVZkNLq4WhIJdZ/view?usp=sharing" alt="logo" width="100px">-->
                        <img src="{{logo}}" alt="logo" width="100px">
                        <!--<img src="logo.jpg" alt="logo" width="100px">-->
                        <!--<image href="{{ url_for('static', filename='logo.jpg') }}" width="100px">-->
                    </div>
                </td>
                <td>
                    <a href="/guesthome" onclick="window.location='/guesthome'">
                        <div>Home</div>
                    </a>
                </td>

                <td>
                    <a href="/search" onclick="window.location='/search'">
                        <div>Search</div>
                    </a>
                </td>
                
                <td>
                    <a href="/adsPosting" onclick="window.location='/adsPosting'">
                        <div name="postingAds">Post</div>
                    </a>
                </td>

            </tr>
        </table>
    </header>

    <h1 class="banner">Lease. - Find The Best Lease</h1>

    <div class="userloggeding">Hi, guest (<a href="/login" onclick="window.location='/login'">Login</a> / <a
            href="/createAccount" onclick="window.location='/createAccount'">Create account</a>)</div>

    <div class="userloggeding">
        Welcome back, <a href="/ads">{{user}}</a> <a href="/logout">(logout)</a>
    </div>

    <div class="userhomeTableContainer">

            <table class="userhomeTable1">
                <tr>
                    <td>
                        <form method="POST">
                            <input placeholder="Search" name="apartmentChoice" class="adsSearch">
                        </form>
                    </td>
                </tr>
            </table>

            <table class="userhomeTable2">
                <tr>
                    <td>
                        <ul class="aptSearch">
                            <li name="StudioApartments">
                                <form method="POST">
                                    <input type="hidden" name="apartmentChoice" value="StudioApartments">
                                    <input type="submit" value="Studio Apartments">
                                </form>
                            </li>
                            <li name="ApartmentsForCouple">
                                <form method="POST">
                                    <input type="hidden" name="apartmentChoice" value="ApartmentsForCouple">
                                    <input type="submit" value="Apartments For Couple">
                                </form>
                                
                            </li>
                            <li name="ApartmentsForFamilyWithKids">
                                <form method="POST">
                                    <input type="hidden" name="apartmentChoice" value="ApartmentsForFamilyWithKids">
                                    <input type="submit" value="Apartments For Family With Kids">
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <ul class="aptSearch">
                            <li name="ApartmentsWithGym">
                                <form method="POST">
                                    <input type="hidden" name="apartmentChoice" value="ApartmentsWithGym">
                                    <input type="submit" value="Apartments With Gym">
                                </form>
                            </li>
                            <li name="LuxuryApartmentsPenthouses">
                                <form method="POST">
                                    <input type="hidden" name="apartmentChoice" value="LuxuryApartmentsPenthouses">
                                    <input type="submit" value="Luxury Apartments / Penthouses">
                                </form>
                            </li>
                            <li name="Townhouses">
                                <form method="POST">
                                    <input type="hidden" name="apartmentChoice" value="Townhouses">
                                    <input type="submit" value="Townhouses">
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
    </div>

    <div class="splitContainer">
        <div class="split"></div>
    </div>

    <!--All ads-->
    <div class="adsContainer">

        {{table}}

    </div>
    <!--All ads-->

</body>

<script>

</script>

</html>